#
# alias collection
#

CommandChecker () {
    COMMAND=$1
    if [ -x $COMMAND ]; then
        return 0
    else
        return -1
    fi
}

# ZSHの判定
SHELL_ZSH="false"
p=`ps --pid $$ -o command |tail -1`
if [ "`echo "$p" | grep 'zsh'`" != "" ] ; then
    SHELL_ZSH="true"
fi

if CommandChecker "colordiff" ; then
    alias diff='colordiff -up'
fi

if CommandChecker "nvim" ; then
    alias vim='nvim'
    alias vimdiff='nvim -d '
fi

if CommandChecker "tig" ; then
    :
elif [ -x "/home/linuxbrew/.linuxbrew/bin/$COMMAND" ]; then
    alias $COMMAND="/home/linuxbrew/.linuxbrew/bin/$COMMAND"
fi

if CommandChecker "peco" ; then
    if [[ "$SHELL_ZSH" == "true" ]]; then
        bindkey '^r' cool-peco-history # ctrl+r
        bindkey '^h' cool-peco-ssh
        bindkey '^p' cool-peco-ps
    fi

    alias ff=cool-peco-filename-search
    alias gbb=cool-peco-git-checkout
    alias gll=cool-peco-git-log
    alias ta=cool-peco-tmux-session
    alias cg=cool-peco-ghq
    alias cdd=peco-cd

    if CommandChecker "ghq" ; then
        alias g='cd $(ghq root)/$(ghq list | peco)'
    fi
fi

# personal setting
alias l='ls --color=auto'
alias ls='ls --color=auto'
alias la='ls -A'
alias ll='ls -alF'
alias mv='mv -i'
alias rm='rm -i'
alias cp='cp -i'
alias crontab='crontab -i'
alias ..='cd ../'
alias git_latest_tag='git describe --abbrev=0 --tags'
alias dd='dd status=progress'
alias sshh="ssh -o 'StrictHostKeyChecking no'"
alias tmux="tmux -u a || tmux -u"

if CommandChecker "tree" ; then
    alias tree="pwd ; find . | sort | sed '1d;s/^\.//;s/\/\([^/]*\)$/|--\1/;s/\/[^/|]*/|  /g'"
fi

# useful functions
function mygrep { grep -rnIi "$1" . --color; }

function slowcat_old { scriptreplay -t <(yes 0.01 1) <(cat <(echo '') "$1") 2> /dev/null ; }
function slowcat { bash -c 'while IFS= read -rN1 c; do printf "$c";sleep 0.01;done' < "$1" ; }


