#
# alias collection
#

# personal setting
alias l='ls --color=auto'
alias ls='ls --color=auto'
alias la='ls -A'
alias ll='ls -alF'
alias mv='mv -i'
alias rm='rm -i'
alias cp='cp -i'
alias crontab='crontab -i'
alias ..='cd ../'
alias git_latest_tag='git describe --abbrev=0 --tags'
alias dd='dd status=progress'
alias sshh="ssh -o 'StrictHostKeyChecking no'"
alias maintmux="tmux -u a -t main || tmux -u new -s main"
alias tmptmux="tmux kill-session -t tmp; tmux -u new -s tmp"

# useful functions
function mygrep { grep -rnIi "$1" . --color; }
function slowcat_old { scriptreplay -t <(yes 0.01 1) <(cat <(echo '') "$1") 2> /dev/null ; }
function slowcat { bash -c 'while IFS= read -rN1 c; do printf "$c";sleep 0.01;done' < "$1" ; }

# for claude code
alias cc-work='CLAUDE_CONFIG_DIR=~/.claude-work \claude'
alias cc-personal='CLAUDE_CONFIG_DIR=~/.claude-personal \claude'
alias claude='CLAUDE_CONFIG_DIR=~/.claude-personal claude'

